#!/bin/bash

set -e

scp ~/.docker/config.json app@159.69.187.141:~/.docker/config.json
ssh app@159.69.187.141 "cd /home/app/apps/atomy/discord-bot_cryptocoin && docker-compose pull && docker-compose up -d"